node_modules
.next
out
build
dist
cypress
INSTRUCTION-FILES
scripts
prisma
*.config.js
*.config.ts
*.config.cjs
*.config.mjs
scan-dependencies.js
test-db-connection.js
analyze-lint.cjs
check_prisma_model.cjs
